<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>简书用户群体画像展示</title>
	<script type="text/javascript" src="../static/js/echarts.js"></script>
	<script src="../static/js/echarts-wordcloud.min.js" type="text/javascript"></script>
	<script src="../static/js/jquery-3.4.1.min.js" type="text/javascript"></script>
</head>
<body>

	{% if data_info%}
	<div align="center">
		<p style="color: dodgerblue">你输入的性别为：{{ data_info['gender']|tojson }}</p>
		<p style="color: dodgerblue">你输入的人数为：{{ data_info['user_num'] }}</p>
	</div>
	{% endif %}

    {% if hobby_list %}
	<div align="center">
    <div id="main" style="width: 1000px; height: 600px;">
	<script type="text/javascript">
		var mychart = echarts.init(document.getElementById('main'));
		var option = {
			title : {
				text: '群体用户的爱好排行榜',
				subtext: 'make_by: 西伯利亚麦',
				x:'center'
			},
			tooltip : {
				trigger: 'item',
				formatter: "{a} <br/>{b} : {c} ({d}%)"
			},
			legend: {
				// 图例排列方式  默认横向排布 horizontal
                orient: 'vertical',
				// orient: 'horizontal',
                top: '13%',
				left: 'left',
				data: {{ hobby_label|tojson }}
			},
			color:['#FF3366', '#99FF00', '#CC0066', '#FF3300', '#FF6633',
					'#66FF00', '#CC0066', '#00CC66', '#33CC99', '#FF3300',
					'#FF3300', '#FF3366', '#009966', '#006699', '#CC33CC'],
			series : [
				{
					name: '爱好名称',
					type: 'pie',
					radius : '55%',
					center: ['50%', '50%'],
					data:{{ hobby_list|tojson }},
					itemStyle: {
						emphasis: {
							shadowBlur: 10,
							shadowOffsetX: 0,
							shadowColor: 'rgba(0, 0, 0, 0.5)'
						}
					}
				}
			]
		};
		mychart.setOption(option);
	</script>
	</div>
	</div>
    {% endif %}
	
	{% if cordUser_words %}
		<div id="" align="center">
			<div id="cordUser" style="width: 1500px; height: 800px; margin-bottom: 100px;">
				
			</div>
		</div>
		<script type="text/javascript">
			var myChart = echarts.init(document.getElementById('cordUser'));
			// console.log({{ cordUser_words|tojson }});
			var cordUser_words = {{ cordUser_words|tojson }};
			var data = [];
			var words = [];
			var words_val = [];
			var base64;
			
			
			
			$.each(cordUser_words, function(i, x){
			       words.push(i);                        // i 为 key，x为value
				   words_val.push(x);
			});
			
			for (var i = 0; i < words.length; ++i) {
				data.push({
					name: words[i],
					value: words_val[i]
				})
			};
			// console.log(data);
			
							
			
			var maskImage = new Image();
			
			var option = {
				// 标签提示
				tooltip: {
					show: true
				},
				series: [{
					type: 'wordCloud',
					gridSize: 1,
					sizeRange: [7, 20],
					// 旋转范围
					rotationRange: [0, 180],
					// 旋转的步长
					rotationStep: 10,
													 // shape:'trapezoidal',
					maskImage: maskImage,
					textStyle: {
						normal: {
							color: function(v) {
								if (v.value > 200) {
									return 'rgb(110, 206, 7)';
								} else if (v.value > 150) {
									return 'rgb(7, 49, 206)';
								} else if (v.value > 100) {
									return 'rgb(105, 7, 206)';
								} else if (v.value > 90) {
									return 'rgb(185, 45, 225)';
								} else if (v.value > 80) {
									return 'rgb(247, 65, 193)';
								} else if (v.value > 70) {
									return '#53DF00';
								} else if (v.value > 60) {
									return 'rgb(223, 31, 126)';
								} else if (v.value > 50) {
									return '#C4000F';
								} else if (v.value > 40) {
									return '#B40097';
								} else if (v.value > 30) {
									return '#EA0037	';
								} else if (v.value > 20) {
									return '#E40045';
								} else if (v.value > 10) {
									return '#FF3900';
								} else if (v.value > 5) {
									return 'rgb(229, 208, 66)';
								} else if (v.value > 3) {
									return 'rgb(189, 117, 82)';
								} else {
									return 'rgb(20, 186, 167)';
								}
							}
							
				
						},
					},
					
					width: '15%',
					// height: 600,
					top: 40,
					// data 为 字典对象
					data: data
				}]
			};
			
			// maskImage.onload = function() {
			// option.series[0].maskImage;
			// myChart.setOption(option);//生成云图
			// };
			//设置矢量图形的路径
			base64 = {{ pic_dict|tojson }};
			// console.log(base64.pic);
			
			maskImage.src = base64.pic;
			myChart.setOption(option);//生成云图
			
		</script>
	{% endif %}
	
</body>
</html>