<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<style type="text/css">
			.father{
			height: 500px;
			width: 90%;
			margin-top: 0px;
			margin-right: auto;
			margin-bottom: 0px;
			margin-left: auto;
			}
			.son1{
			height: 500px;
			width: 500px;
			background-color: #000066;
			float: left;
			}
			
			.son2{
				height: 500px;
				width: 500px;
				background: #000000;
				float: right;
			}
			
		</style>
	</head>
	<body>
		<a href="" style="color: #E91E63;">666</a>
		<div class="father" align="center">
		    <div class="son1"></div>
			<div class="son2"></div>
		</div>
	</body>
	<script type="text/javascript">
		// var color = ['#FF6666','#FFB400','#64BD3D','#EE9201','#29AAE3',
		//         '#B74AE5','#7CE700','#00C90D', '#FF6666', '#009E8E',
		// 		'#9C02A7', '#E40045', '#CC0033', '#99CC00', '#CC0033',
		// 		'#FF6600', '#FF0033', '#00CC00', '#78E700', '#E91E63'];
				
		// console.log(color[19]);
		
		var x = 19;
		var y = 0;
		var rand_index = parseInt(Math.random() * (x - y + 1) + y);
		console.log(rand_index);	
		
	</script>
</html>
