<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
	</body>
	<script type="text/javascript">
		var sitv = setInterval(function() {
			var prog_url = '/show_progress' // prog_url指请求进度的url，后面会在django中设置
			$.getJSON(prog_url, function(num_progress) {


					console.log("come in num_progress=" + num_progress);
					log = log + num_progress + "-"
					$('.progress-div').css('visibility', 'visible');
					$('.progress-bar').css('width', num_progress + '%');
					$('.progress-bar').text(num_progress + '%');
					$('.progress-text').text('显示日志' + log);
					$('.progress-text').css('width', '100%');

					$('#prog_in').width(res + '%'); // 改变进度条进度，注意这里是内层的div， res是后台返回的进度#}
						if (num_progress == '99') {
							console.log("come in 99")
							clearInterval(sitv);
							$('.progress-bar').css('width', '100%');
							$('.progress-bar').text('100%');
						}

					});


			}, 10);
			
	</script>
</html>
