<div class="loader">
	<div class="text">用户信息获取中 ...</div>
	<div class="horizontal">
	  <div class="circlesup">
			<div class="circle"></div>
			<div class="circle"></div>
			<div class="circle"></div>
			<div class="circle"></div>
			<div class="circle"></div>
	  </div>
	  <div class="circlesdwn">
			<div class="circle"></div>
			<div class="circle"></div>
			<div class="circle"></div>
			<div class="circle"></div>
			<div class="circle"></div>
	  </div>
	</div>
	<div class="vertical">
	  <div class="circlesup">
			<div class="circle"></div>
			<div class="circle"></div>
			<div class="circle"></div>
			<div class="circle"></div>
			<div class="circle"></div>
	  </div>
	  <div class="circlesdwn">
			<div class="circle"></div>
			<div class="circle"></div>
			<div class="circle"></div>
			<div class="circle"></div>
			<div class="circle"></div>
	  </div>
	</div>
</div>