<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>单个用户的爱好</title>
		<script type="text/javascript" src="../static/js/echarts.js"></script>
	</head>
	<body>
		{% if hobby_label %}
		<div align="center">
		<div id="main" style="width: 1000px; height: 500px;">
		<script type="text/javascript">
		var mychart = echarts.init(document.getElementById('main'));

		var option = {
			title: {
				text: '自定义雷达图'
			},
			legend: {
				data: ['A用户']
			},
			// 数据标签提示
			tooltip: {},
			radar: {
				indicator: [
					// { name: '语文', max: 150 },

				    {% for hobby in hobby_label %}
					{ text: '{{ hobby}}', max: 10 },
					{% endfor %}
				],
				center: ['50%', '50%'],
				// radius: 120
			},
			series:[
				{
						name: '雷达图',
						type: 'radar',
						data: [
						{
							// value: [120, 118, 130, 100, 99, 70, 86, 75, 80],
							// value 接收 一个列表对象
							value: {{ hobby_val }},
							name: 'A用户',
							areaStyle: {
								normal: {
									opacity: 0.7,
									color: new echarts.graphic.RadialGradient(0.5, 0.5, 1, [
										{
											color: '#FF0073',
											offset: 0
										},
										{
											color: '#FF0073',
											offset: 1
										}
									])
								}
							}
						}
						// {
						// 	value: [90, 113, 140, 30, 70, 60, 86, 76, 80],
						// 	name: '李四',
						// 	areaStyle: {
						// 		normal: {
						// 			opacity: 0.7,
						// 			color: new echarts.graphic.RadialGradient(0.5, 0.5, 1, [
						// 				{
						// 					color: '#43FFF3',
						// 					offset: 0
						// 				},
						// 				{
						// 					color: '#43FFF3',
						// 					offset: 1
						// 				}
						// 			])
						// 		}
						// 	}
						// }
					]
				}
			]

		};

		mychart.setOption(option);
		</script>
		</div>
		</div>
		{% endif %}
	</body>
</html>
